# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.env
.venv

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.memo
*.nose

# Unit test / coverage
.pytest_cache/
.coverage
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp